/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
.DS_Store
/dist
/.parcel-cache
web/app.js
test/games-samples/games-collection.json
test/games-samples/only-few-games.json
.spec-results